<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="${description}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Chris Kipp, ckipp01, ckipp">
    <meta name="thumbnail" content="https://avatars3.githubusercontent.com/u/13974112?s=400&v=4">
    <meta property="og:type" content="${ogType}">
    <meta property="og:title" content="${title}">
    <meta property="og:image" content="https://avatars3.githubusercontent.com/u/13974112?s=400&v=4">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    ${ syntax() }
    ${ style() }
    <title>${title}</title>
  </head>
